__pycache__/
*.py[cod]
*$py.class
.Python

*.so
.eggs/
install.build
dist/
build/
*.egg-info/
.installed.cfg

.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

.env
.venv
env/
venv/
ENV/

.vscode/
.idea/
*.swp
*.swo
*~

